<div>


table
    thead
        tr
            th memberID
            th user_name
            th pword
            th email
            th first_name
            th last_name
            
    each item in items
        tr
            td= item.memberID 
            td= item.user_name 
            td= item.pword 
            td= item.email 
            td= item.first_name 
            td= item.last_name 

</div>